<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" required 
            [(ngModel)]="user.email" 
            #emailInput="ngModel" 
            appValidateEmail 
        />
        <app-error-message *ngIf="(emailInput.dirty || !emailInput.pristine) && emailInput.errors?.['invalid']">
            {{messages.errors.emailIsInvalid}}
        </app-error-message>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" required 
            [(ngModel)]="user.password"
            #passwordInput="ngModel"
            appValidatePassword
        />
        <app-error-message *ngIf="(passwordInput.dirty || !passwordInput.pristine) && passwordInput.errors?.['invalid']">
            {{messages.errors.passwordIsInvalid}}
        </app-error-message>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Login" [disabled]="!loginForm.form.valid" />
    </div>
</form>