<!-- Button trigger modal -->
<button id="deleteProductButton" type="button" [hidden]="true" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteProduct">
</button>

<!-- Modal -->
<div class="modal fade" id="deleteProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{ productFormTitles.delete }}</h5>
        <button id="clodeDeleteProduct" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span>Are you sure to remove the product <b>{{product.name}}</b>?</span>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" (click)="delete()" />
        </div>
      </div>
    </div>
  </div>
</div>