<!-- Button trigger modal -->
<button id="productFormButton" type="button" [hidden]="true" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{ product.id ? productFormTitles.edit : productFormTitles.new }}</h5>
          <button id="closeProductForm" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #productForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">*Name: </label>
                    <input type="text" id="name" name="name" class="form-control" [(ngModel)]="product.name" required minlength="3" />
                </div>
                <div class="form-group">
                    <label form="description">*Description:</label>
                    <input type="text" id="description" name="description" class="form-control" [(ngModel)]="product.description" required />
                </div>
                <div class="form-group">
                    <label for="price">*Price:</label>
                    <input type="number" id="price" name="price" class="form-control" [(ngModel)]="product.price" required />
                </div>
                <div class="form-group">
                  <label for="category">Category:</label>                  
                  <select id="category" name="id_category" class="form-control" [(ngModel)]="product.id_category" required >
                    <ng-container *ngFor="let productCategory of (productCategories$  | async); let i = index">
                      <option [selected]="product.id_category == productCategory.id" [value]="productCategory.id">{{ productCategory.name }}</option>
                    </ng-container>
                  </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" [disabled]="!productForm.form.valid || product.id_category == 0" />
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>